py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/**
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/**py 
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/**
py portfolio/notebooks_and_codem01_v02/nb/exercises/__pycache__/**
