py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb/**
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/**
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_103-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_104-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_107-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_108-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_109-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_108.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_109.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/bokeh_test-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/wk1-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/wk2-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/exercises/__pycache__/edhec_risk_kit_109.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/exercises/__pycache__/edhec_risk_kit_110.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/exercises/__pycache__/edhec_risk_kit_111.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/wk1-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb
