py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/**
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/**py
py portfolio/notebooks_and_codem01_v02/nb/exercises/__pycache__/**
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/**
py portfolio/notebooks_and_codem01_v02/nb/exercises/.ipynb_checkpoints/wk1-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/options_analysis.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/erdm_risk_kit_basic.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_129.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_125.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_123.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_119.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_109.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/__pycache__/edhec_risk_kit_108.cpython-37.pyc
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_123-checkpoint.ipynb
py portfolio/notebooks_and_codem01_v02/nb/.ipynb_checkpoints/lab_101-checkpoint.ipynb
